<h1>Add product</h1>

<form action="/add" method="post">
    <input type="text" name="name" placeholder="Enter the name"><br><br>
    <input type="text" name="description" placeholder="Enter the description"><br><br>
    <input type="text" name="detailed_description" placeholder="Enter the detailed_description"><br><br>
    <input type="number" name="price" placeholder="Enter the price"><br><br>
    <button type="submit">Add product</button>
</form>

<h3><a href="/admin">At Admin panel</a></h3>