<h1>Edit product</h1>

<form action="" method="post">
    <input type="text" name="name" placeholder="Enter the name" value="{{product.name}}"><br><br>
    <input type="text" name="description" placeholder="Enter the description" value="{{product.description}}"><br><br>
    <input type="text" name="detailed_description" placeholder="Enter the detailed_description" value="{{product.detailed_description}}"><br><br>
    <input type="number" name="price" placeholder="Enter the price" value="{{product.price}}"><br><br>
    <button type="submit">Edit product</button>
</form>

<h3><a href="/admin">At Admin panel</a></h3>